* {
    box-sizing: border-box;
    /* overflow: hidden; */
}

body{
    background-color: #0c2b3d !important;
}

h1{
    color: white !important;
}

h2{
    text-align: center;
    font-weight: 700 !important;
    margin-bottom: 20px !important;
}

.table-wrapper {
    max-height: 600px;
    overflow-y: auto;
    display: block;
}

.uneat{
    max-width: 60%;
    height: auto;
}

.order{
    display: inline-grid;
    padding-left: 5px;
    padding-bottom: -10px;
}

/* NAVBAR */
.avatar{
    width: 220px; 
    height: 80px;
}

.header {
    min-height: 15vh;
}

.nav-link{
    color: white !important;
    padding: 25px 30px !important;
}

.nav-link:hover{
    background-color: rgba(20, 20, 20, 0.699);
    border-radius: 5px;
}

/* .navbar-toggler{
    background-color: white !important;
} */


/* .header .navbar {
    background-color: transparent !important;
} */

.navbar-left{
    margin-left: auto;
}


/* .menu,
.content {
    float: left;
    padding: 15px;
    width: 100%;
}
@media only screen and (min-width: 600px) {
    .menu {
        width: 25%;
    }
    .content {
        width: 75%;
    }
}
@media only screen and (min-width: 768px) {
    .menu {
        width: 20%;
    }
    .content {
        width: 79%;
    }
} */

/* END OF NAVBAR */

/* SIDEBAR */

i{
    /* max-width: 20% !important; */
    /* width: fit-content; */
    color: white !important;
}

hr{
    color: white;
    margin: 0 !important;
    opacity: 0.05 !important;
}

svg{
    color: white !important;
    margin-right: 10px;
}

/* END OF SIDEBAR */








/* FORMS */
input[type=text], input[type=number], input[type="password"], select, .number-input, textarea{
    /* line-height: 10px; */
    width: 70%;
    padding: 0px 10px !important;
    display: inline-block;
    /* border: 1.5px solid rgb(185, 184, 184); */
    border: none;
    border-bottom: 1.5px solid rgb(185, 184, 184);
    /* background-color: rgba(230, 230, 230, 0.486); */
    box-sizing: border-box;
    border-radius: 5px; 
    /* margin-bottom: 15px; */
    text-align: center;
    /* font-weight: bold; */
    opacity: 0.5;
    /* outline: none; */
}

input[type=date], input[type=time]{
    line-height: 30px;
    width: 30%;
    padding: 0px 10px;
    border: 1.5px solid rgb(185, 184, 184);
    box-sizing: border-box;
    border-radius: 5px; 
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    opacity: 0.5;
    margin: 0 auto;
}

.order{
    /* padding: 5px 10px !important; */
    margin: 0 auto;
    width: 50%;
}

.form > div.form-row input[type=text], .form > div.form-row input[type=number], .form > button.btn  {
    text-align: center;
}

label{
    opacity: 0.7;
    color: rgba(2, 2, 53, 0.844);
    text-align: left !important;
}

textarea{
    width: 30% !important;
}

.dateInput{
    max-width: 41.666666667%;
}

.form-fields{
    display: block !important; 
    margin: 15px auto !important;
}

.maskInput{
    margin: 45px auto !important;
}

.table, .lbl{
    color: white !important;
    margin-top: 30px;
}

.button-AddPrestamo{
    background-color: #1f6cc5;
    border-radius: 6px;
    color: white;
    padding: 8px 18px; 
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin-left: 90% !important; */
    position: relative;
    left: 70%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 2vh;
}

@media only screen and (min-width: 300px) {
    .button-AddPrestamo{
        left: 60%;
    }
}

@media only screen and (max-width: 850px) {
    .button-AddPrestamo{
        left: 60%;
    }
}

@media only screen and (min-width: 900px) {
    .button-AddPrestamo{
        left: 72%;
    }
}

@media only screen and (min-width: 1200px) {
    .button-AddPrestamo{
        left: 80%;
    }
}

@media only screen and (min-width: 1600px) {
    .button-AddPrestamo{
        left: 85%;
    }
}

.button-AddPrestamo:hover{
    background-color: #3d7dddfc;
    color: white;
}

.titleHistorial{
    margin-left: 80px;
}

.titleCategoria{
    margin-left: 80px;
}

.titleMascarillas{
    margin-left: 80px;
}

.titleEstadistica{
    margin-left: 80px;
}

.cont{
    overflow-x: hidden !important;
}

.return{
    margin-right: 5px;
    margin-bottom: 0.5vw;
}

.thead-dark{
    font-weight: 200;
    background: rgba(209, 209, 209, 0.193);
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    line-height: 20px;
    text-overflow: '';
    background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
}

li{
    color: white !important;
}

.card{
    border: none !important;
    min-width: 25vw;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.136) !important;
}
.card:hover{
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.136) !important;
}

.contentBar{
    opacity: 0.5;
}

.container-md.form{
    /* border: #cad0da 1px solid !important; */
    max-width: 760px !important;
    border-radius: 4px;
    background-color: white !important;
}

.alertCont{
    border: none !important; 
    box-shadow: none !important;
}

.blue-div{
    background: cadetblue !important;
    color: white !important;
    align-items: center !important;
}

.btn-blue{
    border-radius: 20px !important;
    background: cadetblue !important;
    color: white !important;
    align-items: center !important;
}

.btn.reserva{
    border-radius: 20px;
}

.wrapper--w780 {
    max-width: 780px;
}

.row > *{
    padding: 0 !important;
}

.font-poppins {
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}
.wrapper {
    margin: 0 auto;
}

.fluid-table{
    position: fixed;
    top: 250px;
    left: 300px;
    right: 150px;
    bottom: 100px;
    overflow-y: auto;
    margin: auto;
    max-width: 1300px;
}

.fluid{
    position: fixed;
    top: 300px;
    left: 400px;
    right: 180px;
    bottom: 100px;
    overflow-y: auto;
    margin: auto;
    max-width: 1300px;
}

.nav-tabs .nav-link.active{
    background-color: transparent;
}

.nav-link{
    padding: 10px 30px !important;
}

.itemSidebar{
    padding: 25px 30px !important;
}

.nav-item{
    list-style: none;
}








/* CHARTS */
.chart-wrapper {
    padding: 2%;
    width: 60% !important;
    /* height: 60% !important; */
    display: inline-block;
    background: rgb(0, 132, 255);
}

.pie-chart-wrapper {
    padding: 2%;
    width: 35% !important;
    /* height: 60% !important; */
    display: inline-block;
    background: rgb(255, 255, 255);
}
  
.main.chart-wrapper {
    height: 400px;
}
  
.sub.chart-wrapper {
    height: 300px;
}

.emptyMessage div{
    background: rgba(255, 255, 255, 0.57) !important;
    width: 30vw;
    color: rgb(51, 51, 51);
}

.card{
    box-shadow: 2px 2px 15px rgba(160, 160, 160, 0.446) !important;
}

div.scroll {
    height: auto;
    width: 80%;
    /* overflow-x: hidden;
    overflow-y: scroll !important; */
}

svg > g[class^="raphael-group-"] > g > path{
    display: none !important;
}

nav > a[id^="controlled-tab-example-tab-"]{
    max-width: 160px;
    text-align: center;
    display: flex;
  justify-content: center;
  align-content: center;
}

.dateDiv{
    margin: 0 auto;
    text-align: center;
}

.btn-light{
    background-color: rgba(0, 128, 128, 0.508);
    border: none;
    color: rgba(255, 255, 255, 0.912);
}

.btn-light:hover, .btn-light:active{
    background-color: rgba(1, 89, 89, 0.508);
    border: none;
    color: rgba(255, 255, 255, 0.912);
}

/* END OF CHARTS */